name: Catalog Reconcile - Redux

on:
  pull_request:
    paths:
      - "catalog/components/**.yaml"
      - "catalog/components/**.yml"
      - "catalog/users/**.yaml"
      - "catalog/users/**.yml"
      - "catalog/groups/**.yaml"
      - "catalog/groups/**.yml"
      - "catalog/systems/**.yaml"
      - "catalog/systems/**.yml"
    types:
      - synchronize
      - labeled

concurrency:
  group: catalog-main
  cancel-in-progress: false

jobs:
  reconcile-artifact-definitions:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/prefapp/firestarter:main-slim
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main
          path: main_state

      - name: Checkout new branch (PR head ref)
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          path: desired_state

      - name: Generate app installation token
        id: generate-token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ secrets.APP_ID_GITHUB }}
          application_private_key: ${{ secrets.APP_PEM_FILE_GITHUB }}
          organization: prefapp

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: "json"
          working-directory: desired_state
          filters: |
            deleted:
              - 'catalog/deletions/**'
            changed:
              - 'catalog/groups/**'
              - 'catalog/users/**'
              - 'catalog/components/**'
              - 'catalog/systems/**'

      - name: Briefing & Reconcile
        env:
          CATALOG_MAIN_STATE: /__w/catalog/catalog/main_state/catalog
          CATALOG_DESIRED_STATE: /__w/catalog/catalog/desired_state/catalog
          CATALOG_DELETIONS_STATE: /__w/catalog/catalog/desired_state/catalog/deletions
          TOKEN: ${{ steps.generate-token.outputs.token }}
          DEBUG: "firestarter:*"
        run: |
          mkdir /tmp/briefing
          clean_output_deleted_files=$(echo '${{ steps.filter.outputs.deleted_files }}' | sed 's/catalog\///g')
          echo "$clean_output_deleted_files" > /tmp/briefing/deletions.json
          clean_output_modifications=$(echo '${{ steps.filter.outputs.changed_files }}' | sed 's/catalog\///g')
          echo "$clean_output_modifications" > /tmp/briefing/modifications.json
          cat /tmp/briefing/deletions.json
          cat /tmp/briefing/modifications.json
          cd /library
          cat /tmp/briefing/modifications.json
          ./run.sh changes -m  /tmp/briefing/modifications.json -d /tmp/briefing/deletions.json

      - name: Push to branch
        run: |
          # Go to PR state
          cd /__w/catalog/catalog/desired_state

          # Config git
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          # Check if there are any changes in the git repository
          status=$(git status --porcelain)
          if [ -n "$status" ]; then
            # Add all changes to the staging area
            git add .
            # Commit changes with a default message
            git commit -m "Automated commit by script."
            # Push changes to the remote repository
            git push origin $(git rev-parse --abbrev-ref HEAD)
          else
            # Print message indicating that there are no changes
            echo "No changes in the repository. Nothing to commit."
            exit 0
          fi

  merge-branch:
    runs-on: ubuntu-latest
    needs: reconcile-artifact-definitions
    if: "contains(github.event.pull_request.labels.*.name, 'automerge')"
    steps:
      - name: Get PR branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Generate app installation token
        id: generate-token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ secrets.APP_ID_GITHUB }}
          application_private_key: ${{ secrets.APP_PEM_FILE_GITHUB }}

      - name: Merge PR for current branch
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: gh pr merge ${{ github.head_ref }} -s -t 'Artifacts definitions reconciled'
